.todo-list-container li {
  background-color: var(--color-lightgray);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  margin-bottom: var(--margin-small);
}

/* todo list item */
.todo-item-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--margin-half) var(--margin-normal);
  position: relative;
}
.todo-item-container span {
  margin-right: 20px;
  overflow-x: auto;
}
.todo-item-container button {
  background-color: var(--color-red);
  box-shadow: 0 0 2px var(--color-gray);
  color: #ffffff;
  font-size: 0.75rem;
  position: absolute;
  top: var(--margin-tiny);
  right: var(--margin-tiny);
  height: 1.25rem;
  width: 1.25rem;
}