.todo-input-container {
  display: flex;
  flex-direction: column;
  margin: var(--margin-normal) 0;
}
.todo-input-container label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: var(--margin-tiny);
}
.todo-input-container input {
  border: 2px solid var(--color-gray);
  border-radius: var(--margin-tiny);
  font-size: 1.5rem;
  margin-bottom: var(--margin-tiny);
  padding: 8px;
}
.todo-input-container input:focus {
  border-color: var(--color-blue);
  outline: none;
}
.todo-input-container button {
  background-color: var(--color-orange);
  border-radius: var(--margin-tiny);
  font-size: 1rem;
  padding: 8px 24px;
}

.btn__disabled {
  background-color: var(--color-gray) !important;
}
.btn__disabled:hover {
  cursor: auto;
}
