:root {
  --color-blue: #1e5ebd;
  --color-orange: #ffbb00;
  --color-gray: #b6b6b6;
  --color-lightgray: #eeeeee;
  --color-red: #ad1c09;
  --margin-normal: 20px;
  --margin-half: 10px;
  --margin-small: 8px;
  --margin-tiny: 4px
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  padding: 0 25vw;
}
@media (max-width: 500px){
  body{
    padding: 0 var(--margin-half);
  }
}

ul, ol {
  list-style: none;
  padding: 0;
}
button {
  border: none;
}
button:hover {
  cursor: pointer;
}
