:root {
  --margin-normal: 20px;
  --margin-half: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  min-height: 100vh;
}

ul, ol {
  list-style: none;
  padding: 0;
}
button {
  border: none;
}
button:hover {
  cursor: pointer;
}
